/*
 * @Author: Nokey 
 * @Date: 2017-10-24 14:29:26 
 * @Last Modified by: Mr.B
 * @Last Modified time: 2017-12-08 14:40:49
 */

@import '~nib/lib/nib/index.styl'
@import '../../modules/style/reset'

.bg-cover
    background-repeat no-repeat
    background-size: cover
    background-position: center center

.component
    position relative

.home
    width 100%


/*
 * Page1
 */
.page1

    img 
        display block
        width 150px
        margin 0 auto

    p
        font-size: 24px
        text-align: center

@media screen and (min-width: 321px)
    .page1
        h1
            font-size: 3.6rem

@media screen and (min-width: 576px)
    .page1
        h1
            font-size: 4.6rem

@media screen and (min-width: 769px)
    .page1
        h1
            width: 128px
            height: 128px
            font-size: 6rem

