.proIndicator
    position fixed
    top 30px
    right 30px
    background transparent
    .proIndicator-box
        .svgContainer
            width 100px
            height 100px
            position relative
        .piText
            width 40px
            height 40px 
            background transparent 
            position absolute 
            top 30% 
            left 30% 
            color white 
            font-weight bold 
            font-size 20px 
            font-family '微软雅黑'
            .piText-box
                position relative 
                height 100% 
                .piText-before
                    position absolute
                    top 0
                    left 0
                .piText-middle
                    font-size 28px
                    position absolute
                    top 16%
                    left 30%
                .piText-after
                    position absolute
                    bottom 0
                    right 0
.pi-svg
    transform rotate(-90deg)
img{
    width 80px
    height 100px
}